@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <h1>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </h1>
}

